@charset "utf-8";
/*css document*/

@font-face {
    font-family: "Akz Gro";
    src: url(fuentes/AkzidenzGroteskBQ-Reg.ttf) format(truetype);
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: 'Akz Gro', sans serif;
    color:blueviolet;
    font-size: 30px; 
}
.barra {
    width: 1200px;
    height: 90px;
    background-color: bisque;
}